@media only screen and (max-width: 1000px) {
    main {
        padding: 90px 0;
    }
    section {
        padding: 0 20px;
    }
}

@media only screen and (max-width: 600px) {
    main {
        padding: 70px 0;
    }
    section {
        padding: 0 15px;
    }
    .image_showcase .collage .collage_wrapper {
        grid-template-columns: repeat( auto-fill, 100%);
    }
}