body {
    font-family: 'Inter', sans-serif;
    max-height: 100vh;
    overflow-y: hidden;
}


.mobile_toolbar {
    display: none;
    width: 100%;
    padding: 15px;
}
.mobile_toolbar h5 {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.04em;
    padding: 6px 0px;
    color: rgb(240, 240, 240);
}
.mobile_toolbar .filter_btn {
    margin-left: auto;
    margin-right: 0;
    padding: 6px 12px;
    cursor: pointer;
    color: rgb(235, 235, 235);
    background-color: rgb(29, 29, 29);
    background-color: rgb(58, 58, 58);
}
.arrow {
    border: solid;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}


main {
    padding: 120px 0;
}
section {
    width: auto;
    max-width: 1410px;
    margin: 0 auto;
    padding: 0px 30px;
}


.filter_container {
    margin: 0 auto;
    max-width: 400px;
    margin-bottom: 40px;

    display: flex;
    justify-content: space-between;
}
.filter_container li {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: rgb(190, 190, 190);
}
.filter_container .active_filter {
    color: rgb(100, 100, 100);

}


.image_showcase .collage {
    display: block;
    margin: 0 auto;
}
.image_showcase .collage .collage_wrapper {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat( auto-fill, minmax(350px, 1fr));
    width: auto;
}
.image_showcase .collage_wrapper .product_card {
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
    overflow: hidden;
    text-align: center;
    background-color: rgb(255, 255, 255);
    background-color: rgb(245, 245, 245);
}
.image_showcase img {
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    margin-bottom: 20px;
    transition: filter 0.3s;
}
.image_showcase .product_name {
    margin: 0 10px;
}
.image_showcase h5,
.image_showcase h6 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: rgb(100, 100, 100);
    margin-bottom: 15px;
}
.image_showcase h6 {
    font-size: 17px;
}
.image_showcase .model,
.image_showcase .brand {
    display: inline-block;
}


.image_showcase .collage_wrapper img:hover {
    -webkit-filter: brightness(0.8);
    filter: brightness(0.8);
}