@media only screen and (max-width: 1280px) {
    section {
        margin: 90px auto;
    }


    .landing_container {
        padding: 160px 0px;
    }
    .landing_container .landing_text_container h1 {
        font-size: 38px;
    }
    .landing_container .landing_text_container p,
    .landing_container .landing_text_container a {
        font-size: 17px;
    }


    .browse .title_container h2,
    .featured .title_container h2 {
        font-size: 30px;
    }
    .carousel_card .card_title a {
        font-size: 15.5px;
    }


    .luxury_container {
        padding: 100px 0;
    }
    .luxury_container .title_container h1 {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .luxury_container .title_container p,
    .luxury_container .title_container a {
        font-size: 17px;
    }


    .product_container .product_images {
        width: 59%;
        padding-right: 15px;
    }
    .product_container .product_info {
        width: 41%;
        padding-left: 15px;
    }
    .product_container .product_info_stick {
        line-height: 1.5em;
    }
    .product_container .product_info h3 {
        font-size: 28px;
        margin-bottom: 25px;
    }
    .product_container .product_info .price {
        font-size: 15px;
        margin-bottom: 15px;
    }
    .product_container .product_info .description {
        font-size: 15px;
        margin-bottom: 25px;
    }
    .product_container .product_info .description a {
        font-size: 15px;
        margin-bottom: 25px;
    }
    .form_container {
        margin-bottom: 25px;
    }
    .form_label {
        font-size: 15px;
    }
    .form_select {
        padding: 12px 18px;
        font-size: 15px;
    }
    .add_cart_button {
        padding: 14px 18px;
        font-size: 15px;
    }


    .follow .title_container h2 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 1024px) {
    section {
        margin: 80px auto;
    }


    .landing_container {
        padding: 140px 0px;
    }
    .landing_container .landing_text_container h1 {
        font-size: 34px;
    }
    .landing_container .landing_text_container p,
    .landing_container .landing_text_container a {
        font-size: 16px;
    }


    .browse .title_container h2,
    .featured .title_container h2 {
        margin-bottom: 25px;
    }
    .carousel_card {
        width: 375px;
        height: 250px;
    }
    .carousel_card .card_title a {
        font-size: 15px;
    }


    .luxury_container .title_container h1 {
        font-size: 28px;
    }
    .luxury_container .title_container p,
    .luxury_container .title_container a {
        font-size: 15px;
    }


    .product_container .product_images {
        width: 57%;
    }
    .product_container .product_info {
        width: 43%;
    }
    .product_container .product_info_stick {
        padding-top: 50px;
    }
    .product_container .product_info .price {
        font-size: 14px;
    }
    .product_container .product_info .description {
        font-size: 14px;
    }
    .product_container .product_info .description a {
        font-size: 14px;
    }
    .form_container {
        margin-bottom: 25px;
    }
    .form_label {
        font-size: 14px;
    }
    .form_select,
    .add_cart_button {
        font-size: 14px;
    }


    .follow .title_container h2 {
        font-size: 28px;
    }
}

@media only screen and (max-width: 800px) {
    section {
        margin: 60px auto;
        padding: 0 15px;
    }


    .landing_container {
        padding: 110px 0px;
    }
    .landing_container .landing_text_container h1 {
        font-size: 30px;
    }
    .landing_container .landing_text_container p,
    .landing_container .landing_text_container a {
        font-size: 15px;
    }
    .landing_container .landing_text_container p {
        margin-bottom: 35px;
    }


    .browse .title_container h2,
    .featured .title_container h2 {
        font-size: 28px;
    }
    .carousel_card {
        width: 330px;
        height: 220px;
    }


    .luxury_container {
        padding: 80px 0;
    }


    .product {
        padding: 60px 15px;
    }
    .product_container .product_images {
        width: 53%;
        padding-right: 10px;
    }
    .product_container .product_info {
        width: 47%;
        padding-left: 10px;
    }
    .product_container .product_info_stick {
        padding-top: 40px;
    }
}

@media only screen and (max-width: 700px) {
    .product_container {
        flex-direction: column-reverse;
    }
    .product_container .product_images,
    .product_container .product_info {
        width: 100%;
        max-width: 550px;
        padding: 0;
        margin: 0 auto;
    }
    .product_container .product_info_stick {
        padding: 0 0 80px 0;
    }
    .product_container .product_info h3 {
        font-size: 26px;
        margin-bottom: 25px;
    }
    .product_container .product_info .price {
        font-size: 14px;
        margin-bottom: 15px;
    }
    .product_container .product_info .description {
        font-size: 14px;
        margin-bottom: 25px;
    }
    .product_container .product_info .description a {
        font-size: 14px;
        margin-bottom: 25px;
    }
    .form_label {
        font-size: 14px;
    }
    .form_select {
        font-size: 14px;
    }
    .add_cart_button {
        font-size: 14px;
    }
}

@media only screen and (max-width: 600px) {
    section {
        margin: 60px auto;
    }


    .landing_container {
        padding: 100px 0px;
    }
    .landing_container .landing_text_container h1 {
        font-size: 28px;
    }
    .landing_container .landing_text_container p,
    .landing_container .landing_text_container a {
        font-size: 15px;
    }


    .browse .title_container h2,
    .featured .title_container h2 {
        font-size: 25px;
        margin-bottom: 25px;
    }
    .carousel_card {
        width: 375px;
        height: 250px;
    }
    .carousel_card .card_title a {
        font-size: 15px;
    }


    .luxury_container {
        padding: 70px 0;
    }
    .luxury_container .title_container h1 {
        font-size: 25px;
    }
    .luxury_container .title_container p,
    .luxury_container .title_container a {
        font-size: 15px;
    }


    .carousel_card {
        width: 320px;
        height: 213px;
    }


    .follow .title_container h2 {
        font-size: 25px;
    }
}

@media only screen and (max-width: 500px) {
    .forms_container {
        flex-direction: column;
    }
    .form_container {
        width: 100%;
    }


    .follow .gallery_feed {
        grid-template-columns: repeat( auto-fill, 100%);
    }
}