body {
    font-family: 'Inter', sans-serif;
    max-height: 100vh;
    overflow-y: hidden;
}

section {
    width: auto;
    margin: 100px auto;
    padding: 0 30px;
}

main section:last-child {
    margin-bottom: 0;
    padding-bottom: 100px;
}


.landing {
    max-width: none;
    margin: 0 auto;
    background-image: url("images/landing_dark.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.landing_container {
    max-width: 1350px;
    padding: 150px 0px;
    margin: 0 auto;
}
.landing_container .landing_text_container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.landing_container .landing_text_container h1 {
    font-size: 42px;
    font-weight: 500;
    letter-spacing: 0.06em;
    line-height: 1.3em;
    margin-bottom: 15px;
}
.landing_container .landing_text_container p {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.06em;
    line-height: 1.7em;
    margin-bottom: 45px;
}
.landing_container .landing_text_container a {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.06em;
    line-height: 1.5em;
    text-decoration: none;
    padding: 10px 18px;
    transition: color 0.3s, background-color 0.3s;
}


.browse,
.featured {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.browse_container,
.featured_container {
    max-width: 1350px;
    margin: 0 auto;
}
/* .browse .title_container,
.featured .title_container {
    margin-top: 50px;
} */
.browse .title_container h2,
.featured .title_container h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.5em;
    margin-bottom: 30px;
    text-align: center;
}
.carousel_card {
    width: 420px;
    height: 280px;
    margin-right: 10px;
    counter-increment: gallery-cell;
}
.carousel_card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel_card h4 {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}
.carousel_card .card_title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}
.carousel_card .card_title a {
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 8px 18px;
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: .04em;
}


.luxury {
    max-width: none;
    margin: 0 auto;
    background-image: url("images/burgundy_dark.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.luxury_container {
    padding: 120px 0;
}
.luxury_container .title_container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.luxury_container .title_container h1 {
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0.06em;
    line-height: 1.3em;
    margin-bottom: 15px;
}
.luxury_container .title_container p {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.06em;
    line-height: 1.7em;
    margin-bottom: 25px;
}
.luxury_container .title_container a {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.06em;
    line-height: 1.5em;
    text-decoration: none;
    padding: 10px 18px;
    transition: color 0.3s, background-color 0.3s;
}


.product {
    margin: 0;
    max-width: none;
    padding: 100px 30px;
}
.product_container {
    display: flex;
    max-width: 1350px;
    margin: 0 auto;
}
.product_container .product_images {
    width: 54%;
    padding-right: 25px;
}
.product_container .product_images img {
    width: 100%;
    margin-bottom: 15px;
}
.product_container .product_images img:last-child {
    margin-bottom: 0px !important;
}
.product_container .product_info {
    width: 46%;
    padding-left: 25px;
}
.product_container .product_info_stick {
    position: sticky;
    top: 0;
    padding-top: 60px;
    letter-spacing: 0.04em;
    line-height: 1.7em;
}
.product_container .product_info h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.3em;
    margin-bottom: 35px;
}
.product_container .product_info .price {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}
.product_container .product_info .description {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 35px;
}
.product_container .product_info .description a {
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    margin-bottom: 35px;
}
.forms_container {
    display: flex;
    justify-content: space-between;
}
.form_container {
    width: 48%;
    margin-bottom: 35px;
}
.form_label {
    font-size: 16px;
    font-weight: 500;
}
.form_select_container {
    position: relative;
    margin-top: 5px;
}
.form_select,
.add_cart_button {
    cursor: pointer;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border: 1px solid transparent;
    border-radius: 0;
    outline: none;
    width: 100%;
    height: 100%;
    padding: 16px 18px;

    font-size: 16px;
    font-weight: 400;
}
.add_cart_button {
    padding: 18px;
    transition: background-color 0.3s;
}
.form_select_container .chevron_container {
    position: absolute;
    top: 50%;
    right: 1rem;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    transform: rotate(90deg) translateY(-50%);
    transform-origin: top;
}
.form_select_container .chevron {
    display: block;
    max-width: 100%;
    max-height: 100%;
    fill: currentColor;
}


.follow .gallery_container {
    max-width: 1350px;
    margin: 0 auto;
}
.follow .title_container h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.3em;
    margin-bottom: 30px;
    text-align: center;
}
.follow .gallery_feed {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat( auto-fill, minmax(350px, 1fr));
}
.follow .gallery_feed .card_image {
    display: inline-block;
}
.follow .gallery_feed img {
    width: 100%;
    height: 280px;
    object-fit: cover;
}