/* 
 * STRUCTURE:
 * DESKTOP CSS
 * LAYOUTS
 * THEMES
 */

/* DESKTOP CSS */
body {
    font-family: 'Inter', sans-serif;
}


main {
    transition: opacity 0.5s, filter 0.5s;
}


.sidenav {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    overflow: hidden;
    transition: 0.5s;
}
.sidenav .sidenav_bg {
    width: 0vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    opacity: 0;
    transition: 0.5s;
}
.sidenav_container {
    width: 80vw;
    height: 100vh;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    overflow-y: hidden;
    transition: 0.5s;
}
.sidenav_links {
    position: relative;
    top: 100px;
    width: 100%;
}
.sidenav_links a {
    font-weight: 400;
    font-size: 28px;
    letter-spacing: 0.03em;
    text-align: right;
    text-decoration: none;
    cursor: pointer;

    padding: 14px 32px;
    display: block;
    transition: 0.3s;
}


.nav_bar {
    padding: 30px 30px;
}
.nav_bar_container {
    margin: 0 auto;

    width: auto;
    max-width: 1350px;

    display: flex;
    align-items: center;
}
.nav_bar ul {
    display: flex;
}
.right_header ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.right_header {
    margin: 0 auto;
    width: 100%;
    max-width: 1050px;
    padding: 0 10%;
}
.right_header a {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: .06em;
    text-decoration: none;
    transition-duration: 0.3s;
}
.center_header {
    z-index: 1;
    transition: all 0.5s;
}
.center_header .header_logo figure {
    background-size: cover;
    background-repeat: no-repeat;
    width: 45px;
    height: 25px;
    vertical-align: middle;
}
.search_btn {
    width: 20px;
    height: 20px;
    margin-right: 0;
}
.nav_bar .hamburger {
    position: relative;
    display: none;
    cursor: pointer;
    z-index: 10;
}
/*ANIMATED HAMBURGER*/
.bar1, .bar3 {
    width: 25px;
    height: 3px;
    margin: 8px 0;
    transition: 0.4s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 4px);
    transform: rotate(-45deg) translate(-5.5px, 4px);
}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-4px, -3px);
    transform: rotate(45deg) translate(-3.5px, -2.5px);
}


.footer_container {
    max-width: 1350px;
    margin: 0 auto;
}
.footer_links_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer_links_container .list {
    width: 19%;
    padding-right: 15px;
}
.footer_links_container .list:last-child {
    padding-right: 0px;
}
.footer_container .subscribe {
    margin-left: auto;
    min-width: 280px;
}
.footer_links_container .list h5 {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.06em;
    line-height: 1.5em;
    margin-bottom: 20px;
}
.footer_links_container .list a {
    display: block;

    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.06em;
    line-height: 1.5em;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 10px;
    transition: color 0.3s;
}

.login_form {
    width: 100%;
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 15px;
}
.login_form .token_input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    margin: 0;
    padding: 12px 12px;
}
.login_form .login_button {
    font-size: 16px;
    border: none;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
    padding: 12px 12px;
    margin: 0px;
}
.social_container {
    width: auto;
    max-width: 150px;
    display: flex;
    justify-content: space-between;
}
.youtube,
.instagram,
.twitter,
.discord,
.github {
    width: 25px;
    height: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    transition: all 0.2s;
}
.youtube:hover,
.instagram:hover,
.twitter:hover,
.discord:hover,
.github:hover {
    filter: brightness(0.8);
}
.youtube {
    background-image: url("images/footer/youtube_light.png");
}
.instagram {
    background-image: url("images/footer/instagram_light.png");
}
.twitter {
    background-image: url("images/footer/twitter_light.png");
}
.discord {
    background-image: url("images/footer/discord_light.png");
}
.github {
    background-image: url("images/footer/github_light.png");
}
.footer_container .separator {
    width: 100%;
    height: 2px;
    margin: 30px 0;
}
.footer_container .copyright p {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.06em;
    line-height: 1.5em;
}


/* 
 * ===============================
 *         LAYOUTS CSS
 * ===============================
 */

@media screen and (max-width: 1300px) {
    .nav_bar {
        padding: 25px 30px;
    }
}

@media screen and (max-width: 1024px) {
    .footer_links_container .list {
        width: 22%;
    }
    .footer_container .subscribe {
        min-width: 250px;
    }
    .footer_links_container .list h5 {
        font-size: 15px;
    }
    .footer_links_container .list a {
        font-size: 13px;
    }
    .login_form .token_input,
    .login_form .login_button {
        font-size: 14px;
    }
    .footer_container .copyright p {
        font-size: 13px;
    }
}

/* SHOW HAMBURGER MENU WHEN NAV BAR RUNS OUT OF SPACE (MOBILE SUB-650PX WIDTH) */
@media screen and (max-width: 800px) {
    .sidenav_container button {
        font-size: 20px
    }

    .nav_bar {
        padding: 20px 15px;
        animation: fade_in 0.5s;
    }
    .nav_bar .hamburger {
        display: block;
        cursor: pointer;
        margin-left: auto;
    }
    .right_header {
        display: none;
    }
    .right_header div {
        margin-left: 15px;
    }
    .center_header {
        margin-left: 0;
        -webkit-box-orient: horizontal;
        -ms-flex-direction: row;
        -webkit-flex-direction: row;
        flex-direction: row;
    }
    .right_header a {
        font-size: 14px;
    }
    .center_header a {
        font-size: 18px;
        letter-spacing: .06em;
        animation: none;
    }
    .center_header .header_logo figure {
        width: 45px;
        height: 25px;
        animation: none;
    }
    .search_btn {
        display: none;
    }

    footer{
        width: auto;
        padding: 70px 15px;
    }
    .footer_links_container .list {
        width: 50%;
        min-width: 50%;
        margin-bottom: 35px;
    }
    .footer_links_container .list h5 {
        margin-bottom: 10px;
    }
    .footer_links_container .list a {
        margin-bottom: 5px;
    }
    .login_form .token_input,
    .login_form .login_button {
        font-size: 14px;
    }
    .footer_container .copyright p {
        font-size: 13px;
    }
    .footer_container .separator {
        margin: 20px 0;
    }
}

/* COMPRESS FOOTER INTO VERTICAL STACK */
@media screen and (max-width: 750px) {
    footer .footer_container {
        display: block;
    }
    footer .logo_wrapper,
    .social,
    .copyright {
        width: auto;
        margin: 0 auto;
    }
    .social {
        padding: 15px 0px;
    }
    footer .logo_wrapper figure {
        margin-left: auto;
    }
    footer .logo_wrapper h1 {
        margin-right: auto;
    }
    .copyright h1 {
        text-align: center;
        margin: auto;
    }
}

@media screen and (max-width: 450px) {
    .footer_links_container .list {
        width: 50%;
        min-width: 50%;
        margin-bottom: 35px;
    }
    .footer_links_container .list:last-child {
        margin-bottom: 0;
    }
    .footer_container .subscribe {
        width: 100%;
    }
}

/* SHRINK DROPDOWN MENU TEXT FOR SHORT SCREENS (SUB 450PX HEIGHT) */
@media screen and (max-height: 450px) {
    .sidenav_container {
        overflow-y: auto;
    }
    .sidenav_container a {
        font-size: 20px
    }
}


/* 
 * ===============================
 *             THEMES
 * ===============================
 */

.sidenav_container {
    background-color: rgb(36, 36, 36);
}
.sidenav_links a {
    color: rgb(219, 219, 219, 0.5);
}
.sidenav_links .current {
    color: rgb(219, 219, 219);
}
.sidenav_links a:hover,
.sidenav_container a:focus {
    color: #ffeccf;
}
.bar1,
.bar2,
.bar3 {
    background-color: rgb(240, 240, 240);
}


.nav_bar {
    background-color: rgb(32, 32, 32);
}
.right_header a {
    color: rgb(219, 219, 219, 0.5);
}
.nav_bar .current {
    color: rgb(219, 219, 219);
}
.right_header a:hover {
    color: rgb(219, 219, 219);
}
.center_header a {
    color: rgb(243, 243, 243);
}
.center_header .header_logo figure {
    background-image: url("images/logo_white.png");
}


footer {
    background-color: rgb(241, 241, 241);
}
.footer_links_container .list h5 {
    color: rgb(59, 59, 59);
}
.footer_links_container .list a {
    color: rgb(100, 100, 100);
}
.footer_links_container .list a:hover {
    color: rgb(58, 58, 58);
}
.login_form .token_input {
    color: #ffffff;
    background-color: rgb(151, 151, 151);
}
.login_form .token_input::placeholder {
    color: rgb(199, 199, 199);
}
.login_form .login_button {
    color: #ffffff;
    background-color: rgb(36, 36, 36);
}
.login_form .login_button:hover {
    background-color: rgb(58, 58, 58);
}
.youtube {
    background-image: url("images/footer/youtube_light.png");
}
.instagram {
    background-image: url("images/footer/instagram_light.png");
}
.twitter {
    background-image: url("images/footer/twitter_light.png");
}
.discord {
    background-image: url("images/footer/discord_light.png");
}
.github {
    background-image: url("images/footer/github_light.png");
}
.copyright {
    color: rgb(185, 185, 185);
}
.footer_container .separator {
    background-color: rgb(224, 224, 224);
}
.footer_container .copyright p {
    color: rgb(80, 80, 80);
}
