/* 
 * ON SYSTEMS WITHOUT DARK MODE SUPPORT (E.G. PRE-iOS 13), NO THEMING WILL OCCUR
 * BECAUSE IT WILL NOT DEFAULT TO LIGHT THEME. THE WORKAROUND IS TO REMOVE THE
 * @MEDIA (PREFERS-COLOR-SCHEME) RULE SO IT DEFAULTS TO ONE OF THE THEMES.
 * HERE, WE DEFAULT TO DARK THEME BUT IF A DEVICE THAT SUPPORTS (PREFERS-COLOR-SCHEME)
 * IS USING LIGHT THEME, THE LIGHT THEME CSS WILL OVERRIDE THE DEFAULT BECAUSE
 * IT IS DECLARED LATER IN THE FILE. HTML PRIORITIZES CSS IN ORDER OF NEWEST TO OLDEST.
 */

body {
    background-color: rgb(29, 29, 29);
}

main {
    background-color: rgb(255, 255, 255);
}


.landing_container .landing_text_container h1 {
    color: rgb(255, 255, 255);
}
.landing_container .landing_text_container p {
    color: rgb(255, 255, 255);
}
.landing_container .landing_text_container a {
    color: rgb(51, 51, 51);
    background-color: rgb(245, 245, 245);
}
.landing_container .landing_text_container a:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(34, 46, 70, 0.9);
}


.latest .title_container h2,
.featured .title_container h2 {
    color: rgb(51, 51, 51);
}
.carousel_card {
    background: rgb(245, 245, 245);
}


.carousel_card .card_title a {
    color: rgb(51, 51, 51);
    background-color: rgba(245, 245, 245, 0.9);
}
.carousel_card .card_title a:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(34, 46, 70, 0.9);
}


.browse .carousel_card {
    background: rgb(245, 245, 245);
}


.luxury_container .title_container h1 {
    color: rgb(255, 255, 255);
}
.luxury_container .title_container p {
    color: rgb(245, 245, 245);
}
.luxury_container .title_container a {
    color: rgb(51, 51, 51);
    background-color: rgb(245, 245, 245);
}
.luxury_container .title_container a:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(34, 46, 70, 0.9);
}


.follow .title_container h2 {
    color: rgb(51, 51, 51);
}