body {
    font-family: 'Inter', sans-serif;
    max-height: 100vh;
    overflow-y: hidden;
}


main {
    padding: 100px 0;
}
section {
    width: auto;
    max-width: 1410px;
    margin: 0 auto;
    padding: 0px 30px;
}


.category_title {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 40px;
    text-align: center;
}


.mobile_toolbar {
    display: none;
    width: 100%;
    padding: 15px;
}
.mobile_toolbar h5 {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.04em;
    padding: 6px 0px;
}
.mobile_toolbar .filter_btn {
    margin-left: auto;
    margin-right: 0;
    padding: 6px 12px;
    cursor: pointer;
}
.arrow {
    border: solid;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}


.filter_container {
    margin: 0 auto;
    max-width: 350px;
    margin-bottom: 40px;

    display: flex;
    justify-content: space-between;
}
.filter_container li {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    cursor: pointer;
    transition: color 0.3s;
}


.image_showcase .collage {
    display: block;
    margin: 0 auto;
}
.image_showcase .collage .collage_wrapper {
    display: grid;
    gap: 50px 15px;
    grid-template-columns: repeat( auto-fill, minmax(350px, 1fr));
    width: auto;
}

.carousel_card {
    position: relative;
    line-height: 0;
}
.carousel_card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel_card h4 {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}
.carousel_card .card_title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}
.carousel_card .card_title a {
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 8px 18px;
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: .04em;
}